In [1]:
import socket

NB='test'
DESCRIPTION='test notebook'
HOST = socket.gethostname()
HOST

'DESKTOP-7KHT10A'

In [2]:
import warnings
import os
from pathlib import Path

import mlflow
from dataclasses import dataclass
from dataclasses import asdict

import pandas as pd
#import lightgbm as lgb
#import xgboost as xgb
from catboost import CatBoostClassifier, CatBoostRegressor, Pool
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, mean_squared_error, roc_auc_score, average_precision_score, mean_squared_log_error
from sklearn.preprocessing import LabelEncoder

#from my_utils import get_notebook_path

warnings.simplefilter('ignore')
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 25)

In [3]:
ROOT_DIR = Path('../')
DATA_DIR = ROOT_DIR / Path('data')

In [4]:
class Config:
    N_LABEL = 24
    N_FOLD = 5
    RANDOM_SATE = 42
    LR = 0.15
    PATIENCE = 30
    EPOCH = 300
    BATCH_SIZE = 6
    SKIP_EVALUATE_NUM = 5

In [5]:
train_df = pd.read_csv(DATA_DIR / Path('titanic_train.csv'))
test_df = pd.read_csv(DATA_DIR / Path('titanic_test.csv'))

display(train_df.shape)
display(train_df.head(5))
display(test_df.shape)
display(test_df.head(5))

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## feature and target

In [6]:
target = 'Survived'
del_columns = ['Survived', 'Name']

features = list(set(train_df.columns) - set(del_columns))
features

['Sex',
 'SibSp',
 'Pclass',
 'PassengerId',
 'Age',
 'Ticket',
 'Embarked',
 'Fare',
 'Cabin',
 'Parch']

## train lgbm

### metrix

In [7]:
def evaluation(true, pred):
    return roc_auc_score(true, pred)

### encording

In [8]:
# 数値でないカラムをLabelEncording
categoricals = ['Sex', 'Ticket', 'Cabin','Embarked']
features = list(set(features) | set(categoricals))
for c in categoricals:
    le = LabelEncoder()
    le.fit(train_df.append(test_df)[c].astype(str))
    train_df[c] = le.transform(train_df[c].astype(str))
    test_df[c] = le.transform(test_df[c].astype(str))

# Count encoding
count_enc = ['Sex', 'Ticket', 'Cabin', 'Embarked']
count_features = []
for c in count_enc:
    _count = train_df.append(test_df)[c].astype(str).value_counts().to_dict()
    train_df[f'{c}_count'] = train_df[c].astype(str).map(_count)
    test_df[f'{c}_count'] = test_df[c].astype(str).map(_count)
    count_features.append(f'{c}_count')
features = list(set(features) | set(count_features))

### train

In [9]:
params = {
    'learning_rate': 0.01, 
    'loss_function': 'RMSE',
    'verbose':100,
    'iterations':5000,
    'early_stopping_rounds':100
}

# TargetEncording Config
target_enc = ['Sex', 'Ticket', 'Cabin', 'Embarked'] # 集計対象カラム
target_enc_key = ['Survived'] # 集計するキー

oof_preds = np.zeros(len(train_df))
y_pred = np.zeros(len(test_df))
models = []
cv_scores = {}
skf = StratifiedKFold(n_splits=Config.N_FOLD, random_state=Config.RANDOM_SATE, shuffle=True)
for fold, (train_index, test_index) in enumerate(skf.split(train_df[features], train_df[target])):

    print(f'====== fold {fold} ======')

    # TrainとTestに分割
    x_train, x_val = train_df.copy().iloc[train_index][features], train_df.copy().iloc[test_index][features]
    y_train, y_val =  train_df.iloc[train_index][target], train_df.iloc[test_index][target]

    test = test_df[features]

    # Target Encoding
    if len(target_enc) > 0:
        for t in target_enc_key:
            for c in target_enc:
                x_train[f'{c}_target_enc_by_{t}'] = train_df.iloc[train_index][c].map(train_df.iloc[test_index].groupby(c)[t].mean().to_dict())
                x_val[f'{c}_target_enc_by_{t}'] = train_df.iloc[test_index][c].map(train_df.groupby(c)[t].mean().to_dict())
                test[f'{c}_target_enc_by_{t}'] = test_df[c].map(train_df.groupby(c)[t].mean().to_dict())
            
    train_features = x_train.columns.to_list()
    
    # create Dataset
    train_pool = Pool(x_train, y_train, cat_features=categoricals)
    valid_pool = Pool(x_val, y_val, cat_features=categoricals)
    test_pool = Pool(test, cat_features=categoricals) 
    
    # train
    model = CatBoostRegressor(**params)
    model.fit(train_pool, eval_set=valid_pool)
    models.append(model)

    fold_pred = model.predict(valid_pool)
    
    score = evaluation(y_val, fold_pred)
    cv_scores[f'cv{fold}'] = score

    oof_preds[test_index] = fold_pred

    y_pred += model.predict(test_pool) / Config.N_FOLD

    print(f'cv score is {score}')

oof_score = evaluation(train_df[target], oof_preds)
print(f'OOF score is {oof_score}')

====== fold 0 ======
0:	learn: 0.4843270	test: 0.4850346	best: 0.4850346 (0)	total: 169ms	remaining: 14m 4s
100:	learn: 0.3876860	test: 0.3928178	best: 0.3928178 (100)	total: 1.38s	remaining: 1m 6s
200:	learn: 0.3579033	test: 0.3606967	best: 0.3606967 (200)	total: 2.52s	remaining: 1m
300:	learn: 0.3454333	test: 0.3433966	best: 0.3433966 (300)	total: 3.86s	remaining: 1m
400:	learn: 0.3376246	test: 0.3352704	best: 0.3352704 (400)	total: 5.12s	remaining: 58.7s
500:	learn: 0.3316897	test: 0.3312739	best: 0.3312739 (500)	total: 6.33s	remaining: 56.8s
600:	learn: 0.3269514	test: 0.3279076	best: 0.3278912 (599)	total: 7.52s	remaining: 55s
700:	learn: 0.3228222	test: 0.3262913	best: 0.3262913 (700)	total: 8.71s	remaining: 53.4s
800:	learn: 0.3190117	test: 0.3246903	best: 0.3246069 (793)	total: 9.85s	remaining: 51.6s
900:	learn: 0.3155093	test: 0.3236564	best: 0.3235219 (877)	total: 11s	remaining: 50.1s
1000:	learn: 0.3119803	test: 0.3228699	best: 0.3228699 (1000)	total: 12.1s	remaining: 48.5s
1100:	learn: 0.3078392	test: 0.3216533	best: 0.3216533 (1100)	total: 13.5s	remaining: 47.8s
1200:	learn: 0.3038443	test: 0.3194546	best: 0.3194386 (1196)	total: 14.8s	remaining: 46.9s
1300:	learn: 0.2992467	test: 0.3177889	best: 0.3177670 (1298)	total: 16.2s	remaining: 46.2s
1400:	learn: 0.2953022	test: 0.3160447	best: 0.3160318 (1398)	total: 17.7s	remaining: 45.4s
1500:	learn: 0.2905911	test: 0.3140898	best: 0.3140898 (1500)	total: 19.1s	remaining: 44.6s
1600:	learn: 0.2858165	test: 0.3129290	best: 0.3129235 (1599)	total: 20.6s	remaining: 43.8s
1700:	learn: 0.2818847	test: 0.3119172	best: 0.3117893 (1692)	total: 22.2s	remaining: 43s
1800:	learn: 0.2778032	test: 0.3113946	best: 0.3113874 (1799)	total: 23.8s	remaining: 42.2s
1900:	learn: 0.2732641	test: 0.3111597	best: 0.3110590 (1864)	total: 25.3s	remaining: 41.2s
2000:	learn: 0.2693488	test: 0.3105649	best: 0.3105649 (2000)	total: 26.8s	remaining: 40.1s
2100:	learn: 0.2659359	test: 0.3105735	best: 0.3105575 (2004)	total: 28.3s	remaining: 39.1s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.3105574691
bestIteration = 2004

Shrink model to first 2005 iterations.
cv score is 0.9379446640316206
====== fold 1 ======
0:	learn: 0.4844033	test: 0.4844117	best: 0.4844117 (0)	total: 22.3ms	remaining: 1m 51s
100:	learn: 0.3840566	test: 0.3892125	best: 0.3892125 (100)	total: 1.31s	remaining: 1m 3s
200:	learn: 0.3532179	test: 0.3528127	best: 0.3528127 (200)	total: 2.46s	remaining: 58.8s
300:	learn: 0.3372839	test: 0.3298516	best: 0.3298516 (300)	total: 3.57s	remaining: 55.7s
400:	learn: 0.3273887	test: 0.3191118	best: 0.3191118 (400)	total: 4.71s	remaining: 54.1s
500:	learn: 0.3202276	test: 0.3102143	best: 0.3102143 (500)	total: 5.95s	remaining: 53.5s
600:	learn: 0.3144654	test: 0.3037271	best: 0.3036890 (598)	total: 7.11s	remaining: 52.1s
700:	learn: 0.3099255	test: 0.2998702	best: 0.2998702 (700)	total: 8.21s	remaining: 50.3s
800:	learn: 0.3063962	test: 0.2985134	best: 0.2984398 (792)	total: 9.23s	remaining: 48.4s
900:	learn: 0.3032402	test: 0.2966937	best: 0.2966702 (890)	total: 10.3s	remaining: 47s
1000:	learn: 0.3000168	test: 0.2958709	best: 0.2958498 (995)	total: 11.3s	remaining: 45.3s
1100:	learn: 0.2967309	test: 0.2953372	best: 0.2953005 (1084)	total: 12.5s	remaining: 44.4s
1200:	learn: 0.2927130	test: 0.2933760	best: 0.2933624 (1199)	total: 13.7s	remaining: 43.4s
1300:	learn: 0.2891800	test: 0.2925770	best: 0.2925509 (1265)	total: 14.9s	remaining: 42.4s
1400:	learn: 0.2854902	test: 0.2913147	best: 0.2913061 (1395)	total: 16.3s	remaining: 41.8s
1500:	learn: 0.2818217	test: 0.2903690	best: 0.2903312 (1493)	total: 17.6s	remaining: 41.1s
1600:	learn: 0.2781735	test: 0.2896027	best: 0.2895813 (1552)	total: 19s	remaining: 40.4s
1700:	learn: 0.2751867	test: 0.2888799	best: 0.2887800 (1688)	total: 20.3s	remaining: 39.4s
1800:	learn: 0.2712310	test: 0.2886742	best: 0.2886525 (1794)	total: 21.7s	remaining: 38.6s
1900:	learn: 0.2673916	test: 0.2883600	best: 0.2882911 (1898)	total: 23.2s	remaining: 37.8s
2000:	learn: 0.2640922	test: 0.2877654	best: 0.2877654 (2000)	total: 24.6s	remaining: 36.9s
2100:	learn: 0.2608731	test: 0.2872922	best: 0.2872653 (2088)	total: 26s	remaining: 35.9s
2200:	learn: 0.2573582	test: 0.2875754	best: 0.2872554 (2102)	total: 27.5s	remaining: 35s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.2872554407
bestIteration = 2102

Shrink model to first 2103 iterations.
cv score is 0.9592245989304813
====== fold 2 ======
0:	learn: 0.4844291	test: 0.4841134	best: 0.4841134 (0)	total: 20.1ms	remaining: 1m 40s
100:	learn: 0.3813221	test: 0.4029538	best: 0.4029538 (100)	total: 1.3s	remaining: 1m 2s
200:	learn: 0.3482729	test: 0.3740369	best: 0.3740369 (200)	total: 2.48s	remaining: 59.3s
300:	learn: 0.3321239	test: 0.3568760	best: 0.3568760 (300)	total: 3.76s	remaining: 58.8s
400:	learn: 0.3225910	test: 0.3494813	best: 0.3494813 (400)	total: 4.9s	remaining: 56.2s
500:	learn: 0.3150594	test: 0.3452621	best: 0.3452621 (500)	total: 6.11s	remaining: 54.9s
600:	learn: 0.3091078	test: 0.3441032	best: 0.3439120 (590)	total: 7.23s	remaining: 52.9s
700:	learn: 0.3037108	test: 0.3420912	best: 0.3420438 (696)	total: 8.46s	remaining: 51.9s
800:	learn: 0.2996868	test: 0.3406026	best: 0.3405642 (797)	total: 9.63s	remaining: 50.5s
900:	learn: 0.2957387	test: 0.3405366	best: 0.3404441 (896)	total: 10.9s	remaining: 49.7s
1000:	learn: 0.2909950	test: 0.3399734	best: 0.3399638 (982)	total: 12.3s	remaining: 49.3s
1100:	learn: 0.2863730	test: 0.3402640	best: 0.3399229 (1014)	total: 13.7s	remaining: 48.6s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.3399228829
bestIteration = 1014

Shrink model to first 1015 iterations.
cv score is 0.9220588235294118
====== fold 3 ======
0:	learn: 0.4844507	test: 0.4840984	best: 0.4840984 (0)	total: 20.1ms	remaining: 1m 40s
100:	learn: 0.3865891	test: 0.3886779	best: 0.3886779 (100)	total: 1.25s	remaining: 1m
200:	learn: 0.3535977	test: 0.3554013	best: 0.3554013 (200)	total: 2.48s	remaining: 59.1s
300:	learn: 0.3387379	test: 0.3394726	best: 0.3394726 (300)	total: 3.62s	remaining: 56.6s
400:	learn: 0.3281515	test: 0.3323718	best: 0.3323718 (400)	total: 4.78s	remaining: 54.9s
500:	learn: 0.3209565	test: 0.3284628	best: 0.3284214 (481)	total: 5.91s	remaining: 53.1s
600:	learn: 0.3143656	test: 0.3256024	best: 0.3255734 (599)	total: 7.11s	remaining: 52s
700:	learn: 0.3089328	test: 0.3247347	best: 0.3247082 (695)	total: 8.15s	remaining: 50s
800:	learn: 0.3037026	test: 0.3230633	best: 0.3230633 (800)	total: 9.23s	remaining: 48.4s
900:	learn: 0.2996537	test: 0.3225868	best: 0.3225868 (900)	total: 10.3s	remaining: 47s
1000:	learn: 0.2951903	test: 0.3217838	best: 0.3217838 (1000)	total: 11.4s	remaining: 45.7s
1100:	learn: 0.2907139	test: 0.3212863	best: 0.3212863 (1100)	total: 12.8s	remaining: 45.2s
1200:	learn: 0.2861988	test: 0.3204506	best: 0.3204175 (1198)	total: 14.1s	remaining: 44.7s
1300:	learn: 0.2822419	test: 0.3199350	best: 0.3199350 (1300)	total: 15.3s	remaining: 43.6s
1400:	learn: 0.2782812	test: 0.3196349	best: 0.3194925 (1368)	total: 16.6s	remaining: 42.6s
1500:	learn: 0.2744760	test: 0.3190985	best: 0.3190620 (1470)	total: 17.9s	remaining: 41.8s
1600:	learn: 0.2705583	test: 0.3190525	best: 0.3188905 (1534)	total: 19.2s	remaining: 40.8s
1700:	learn: 0.2667542	test: 0.3184836	best: 0.3183552 (1641)	total: 20.6s	remaining: 39.9s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.3183552319
bestIteration = 1641

Shrink model to first 1642 iterations.
cv score is 0.9347593582887701
====== fold 4 ======
0:	learn: 0.4843494	test: 0.4852696	best: 0.4852696 (0)	total: 16.8ms	remaining: 1m 23s
100:	learn: 0.3882352	test: 0.3807778	best: 0.3807778 (100)	total: 1.22s	remaining: 59s
200:	learn: 0.3556714	test: 0.3373369	best: 0.3373369 (200)	total: 2.46s	remaining: 58.6s
300:	learn: 0.3413518	test: 0.3172219	best: 0.3172219 (300)	total: 3.7s	remaining: 57.8s
400:	learn: 0.3327302	test: 0.3087062	best: 0.3087062 (400)	total: 4.82s	remaining: 55.3s
500:	learn: 0.3268843	test: 0.3035060	best: 0.3035060 (500)	total: 6s	remaining: 53.8s
600:	learn: 0.3211331	test: 0.3008810	best: 0.3008400 (597)	total: 7.11s	remaining: 52s
700:	learn: 0.3147083	test: 0.2986203	best: 0.2985923 (688)	total: 8.31s	remaining: 50.9s
800:	learn: 0.3096299	test: 0.2976911	best: 0.2976743 (788)	total: 9.35s	remaining: 49s
900:	learn: 0.3058183	test: 0.2973339	best: 0.2972401 (887)	total: 10.4s	remaining: 47.2s
1000:	learn: 0.3026149	test: 0.2968386	best: 0.2968313 (998)	total: 11.3s	remaining: 45.1s
1100:	learn: 0.2989582	test: 0.2966349	best: 0.2966313 (1099)	total: 12.3s	remaining: 43.5s
1200:	learn: 0.2947400	test: 0.2965518	best: 0.2964617 (1148)	total: 13.3s	remaining: 42.1s
1300:	learn: 0.2910281	test: 0.2963621	best: 0.2962663 (1233)	total: 14.5s	remaining: 41.1s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.2962663425
bestIteration = 1233

Shrink model to first 1234 iterations.
cv score is 0.9489429597128042
OOF score is 0.9406256990381235