In [ ]:
import socket

NB='test'
DESCRIPTION='test notebook'
HOST = socket.gethostname()
HOST

In [2]:
import warnings
import os
from pathlib import Path

import mlflow
from dataclasses import dataclass
from dataclasses import asdict

import pandas as pd
#import lightgbm as lgb
#import xgboost as xgb
from catboost import CatBoostClassifier, CatBoostRegressor, Pool
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, mean_squared_error, roc_auc_score, average_precision_score, mean_squared_log_error
from sklearn.preprocessing import LabelEncoder

#from my_utils import get_notebook_path

warnings.simplefilter('ignore')
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 25)

In [3]:
ROOT_DIR = Path('./')
DATA_DIR = ROOT_DIR / Path('data')

In [4]:
class Config:
    SR = 48000
    N_LABEL = 24
    N_FOLD = 5
    RANDOM_SATE = 42
    LR = 0.15
    PATIENCE = 30
    EPOCH = 300
    BATCH_SIZE = 6
    N_REPEATS = 3
    SKIP_EVALUATE_NUM = 5

In [5]:
train_df = pd.read_csv(DATA_DIR / Path('train.csv'))
test_df = pd.read_csv(DATA_DIR / Path('test.csv'))

display(train_df.shape)
display(train_df.head(5))
display(test_df.shape)
display(test_df.head(5))

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## feature and target

In [6]:
target = 'Survived'
del_columns = ['Survived', 'Name']

features = list(set(train_df.columns) - set(del_columns))
features

['Cabin',
 'Ticket',
 'Age',
 'Embarked',
 'Sex',
 'PassengerId',
 'Fare',
 'SibSp',
 'Parch',
 'Pclass']

## train lgbm

### metrix

In [7]:
def evaluation(true, pred):
    return roc_auc_score(true, pred)

### encording

In [8]:
# 数値でないカラムをLabelEncording
categoricals = ['Sex', 'Ticket', 'Cabin','Embarked']
features = list(set(features) | set(categoricals))
for c in categoricals:
    le = LabelEncoder()
    le.fit(train_df.append(test_df)[c].astype(str))
    train_df[c] = le.transform(train_df[c].astype(str))
    test_df[c] = le.transform(test_df[c].astype(str))

# Count encoding
count_enc = ['Sex', 'Ticket', 'Cabin', 'Embarked']
count_features = []
for c in count_enc:
    _count = train_df.append(test_df)[c].astype(str).value_counts().to_dict()
    train_df[f'{c}_count'] = train_df[c].astype(str).map(_count)
    test_df[f'{c}_count'] = test_df[c].astype(str).map(_count)
    count_features.append(f'{c}_count')
features = list(set(features) | set(count_features))

### train

In [10]:
params = {
    'learning_rate': 0.01, 
    'loss_function': 'RMSE',
    'verbose':100,
    'iterations':5000,
    'early_stopping_rounds':100
}

# TargetEncording Config
target_enc = ['Sex', 'Ticket', 'Cabin', 'Embarked'] # 集計対象カラム
target_enc_key = ['Survived'] # 集計するキー

oof_preds = np.zeros(len(train_df))
y_pred = np.zeros(len(test_df))
models = []
cv_scores = {}
skf = StratifiedKFold(n_splits=Config.N_FOLD, random_state=Config.RANDOM_SATE, shuffle=True)
for fold, (train_index, test_index) in enumerate(skf.split(train_df[features], train_df[target])):

    print(f'====== fold {fold} ======')

    # TrainとTestに分割
    x_train, x_val = train_df.copy().iloc[train_index][features], train_df.copy().iloc[test_index][features]
    y_train, y_val =  train_df.iloc[train_index][target], train_df.iloc[test_index][target]

    test = test_df[features]

    # Target Encoding
    if len(target_enc) > 0:
        for t in target_enc_key:
            for c in target_enc:
                x_train[f'{c}_target_enc_by_{t}'] = train_df.iloc[train_index][c].map(train_df.iloc[test_index].groupby(c)[t].mean().to_dict())
                x_val[f'{c}_target_enc_by_{t}'] = train_df.iloc[test_index][c].map(train_df.groupby(c)[t].mean().to_dict())
                test[f'{c}_target_enc_by_{t}'] = test_df[c].map(train_df.groupby(c)[t].mean().to_dict())
            
    train_features = x_train.columns.to_list()
    
    # create Dataset
    train_pool = Pool(x_train, y_train, cat_features=categoricals)
    valid_pool = Pool(x_val, y_val, cat_features=categoricals)
    test_pool = Pool(test, cat_features=categoricals) 
    
    # train
    model = CatBoostRegressor(**params)
    model.fit(train_pool, eval_set=valid_pool)
    models.append(model)

    fold_pred = model.predict(valid_pool)
    
    score = evaluation(y_val, fold_pred)
    cv_scores[f'cv{fold}'] = score

    oof_preds[test_index] = fold_pred

    y_pred += model.predict(test_pool) / Config.N_FOLD

    print(f'cv score is {score}')

oof_score = evaluation(train_df[target], oof_preds)
print(f'OOF score is {oof_score}')

====== fold 0 ======
0:	learn: 0.4843345	test: 0.4848447	best: 0.4848447 (0)	total: 23.3ms	remaining: 23.2s
100:	learn: 0.3851203	test: 0.3922210	best: 0.3922210 (100)	total: 5.07s	remaining: 45.1s
200:	learn: 0.3559304	test: 0.3580515	best: 0.3580515 (200)	total: 9.51s	remaining: 37.8s
300:	learn: 0.3446871	test: 0.3443091	best: 0.3443091 (300)	total: 13.9s	remaining: 32.2s
400:	learn: 0.3374827	test: 0.3362220	best: 0.3362220 (400)	total: 17.6s	remaining: 26.4s
500:	learn: 0.3320833	test: 0.3309617	best: 0.3309617 (500)	total: 21.4s	remaining: 21.3s
600:	learn: 0.3276252	test: 0.3284914	best: 0.3284914 (600)	total: 25.2s	remaining: 16.8s
700:	learn: 0.3237087	test: 0.3267380	best: 0.3267019 (699)	total: 29.2s	remaining: 12.4s
800:	learn: 0.3202638	test: 0.3257331	best: 0.3256564 (796)	total: 33.2s	remaining: 8.25s
900:	learn: 0.3166407	test: 0.3254391	best: 0.3253654 (842)	total: 37.6s	remaining: 4.14s
999:	learn: 0.3135674	test: 0.3250076	best: 0.3249701 (991)	total: 42.6s	remaining: 0us

bestTest = 0.3249700502
bestIteration = 991

Shrink model to first 992 iterations.
cv score is 0.9338603425559948
====== fold 1 ======
0:	learn: 0.4844086	test: 0.4842290	best: 0.4842290 (0)	total: 21ms	remaining: 20.9s
100:	learn: 0.3826290	test: 0.3911839	best: 0.3911839 (100)	total: 4.32s	remaining: 38.4s
200:	learn: 0.3508109	test: 0.3530423	best: 0.3530423 (200)	total: 8.05s	remaining: 32s
300:	learn: 0.3355935	test: 0.3302722	best: 0.3302722 (300)	total: 11.8s	remaining: 27.3s
400:	learn: 0.3258394	test: 0.3158661	best: 0.3158661 (400)	total: 15.1s	remaining: 22.6s
500:	learn: 0.3195870	test: 0.3109164	best: 0.3109164 (500)	total: 18.3s	remaining: 18.2s
600:	learn: 0.3133990	test: 0.3075447	best: 0.3075447 (600)	total: 21.5s	remaining: 14.3s
700:	learn: 0.3092048	test: 0.3034601	best: 0.3034203 (698)	total: 25.1s	remaining: 10.7s
800:	learn: 0.3059170	test: 0.3020413	best: 0.3020413 (800)	total: 29s	remaining: 7.2s
900:	learn: 0.3032213	test: 0.3012354	best: 0.3012354 (900)	total: 32.4s	remaining: 3.56s
999:	learn: 0.3001280	test: 0.3007401	best: 0.3006856 (973)	total: 35.4s	remaining: 0us

bestTest = 0.3006855514
bestIteration = 973

Shrink model to first 974 iterations.
cv score is 0.9545454545454546
====== fold 2 ======
0:	learn: 0.4844389	test: 0.4841772	best: 0.4841772 (0)	total: 12.6ms	remaining: 12.5s
100:	learn: 0.3802913	test: 0.4046216	best: 0.4046216 (100)	total: 3.73s	remaining: 33.2s
200:	learn: 0.3483083	test: 0.3768980	best: 0.3768980 (200)	total: 7.18s	remaining: 28.5s
300:	learn: 0.3315811	test: 0.3593942	best: 0.3593942 (300)	total: 10.8s	remaining: 25s
400:	learn: 0.3226257	test: 0.3520944	best: 0.3520944 (400)	total: 13.9s	remaining: 20.7s
500:	learn: 0.3158054	test: 0.3478479	best: 0.3478479 (500)	total: 16.9s	remaining: 16.9s
600:	learn: 0.3103716	test: 0.3449657	best: 0.3449425 (598)	total: 20.2s	remaining: 13.4s
700:	learn: 0.3051014	test: 0.3425896	best: 0.3425896 (700)	total: 23s	remaining: 9.82s
800:	learn: 0.3005743	test: 0.3421515	best: 0.3421051 (779)	total: 26.1s	remaining: 6.47s
900:	learn: 0.2962917	test: 0.3416867	best: 0.3416082 (842)	total: 29.2s	remaining: 3.21s
999:	learn: 0.2922701	test: 0.3408588	best: 0.3407714 (967)	total: 32.4s	remaining: 0us

bestTest = 0.3407714458
bestIteration = 967

Shrink model to first 968 iterations.
cv score is 0.9233957219251336
====== fold 3 ======
0:	learn: 0.4845109	test: 0.4838309	best: 0.4838309 (0)	total: 10.4ms	remaining: 10.4s
100:	learn: 0.3859769	test: 0.3914081	best: 0.3914081 (100)	total: 3.19s	remaining: 28.4s
200:	learn: 0.3540775	test: 0.3549157	best: 0.3549157 (200)	total: 6.31s	remaining: 25.1s
300:	learn: 0.3392229	test: 0.3363587	best: 0.3363587 (300)	total: 9.13s	remaining: 21.2s
400:	learn: 0.3299245	test: 0.3283602	best: 0.3283261 (399)	total: 11.9s	remaining: 17.8s
500:	learn: 0.3229651	test: 0.3255962	best: 0.3255962 (500)	total: 14.7s	remaining: 14.6s
600:	learn: 0.3153328	test: 0.3214345	best: 0.3214345 (600)	total: 17.4s	remaining: 11.6s
700:	learn: 0.3089711	test: 0.3193619	best: 0.3193070 (694)	total: 20.2s	remaining: 8.63s
800:	learn: 0.3024539	test: 0.3174825	best: 0.3174329 (793)	total: 23s	remaining: 5.7s
900:	learn: 0.2983150	test: 0.3169898	best: 0.3169546 (893)	total: 25.9s	remaining: 2.84s
999:	learn: 0.2935661	test: 0.3162888	best: 0.3162417 (984)	total: 28.8s	remaining: 0us

bestTest = 0.316241691
bestIteration = 984

Shrink model to first 985 iterations.
cv score is 0.9364973262032086
====== fold 4 ======
0:	learn: 0.4842653	test: 0.4851368	best: 0.4851368 (0)	total: 16.4ms	remaining: 16.3s
100:	learn: 0.3880959	test: 0.3799622	best: 0.3799622 (100)	total: 3.4s	remaining: 30.3s
200:	learn: 0.3557567	test: 0.3376692	best: 0.3376692 (200)	total: 6.32s	remaining: 25.1s
300:	learn: 0.3414084	test: 0.3211258	best: 0.3211258 (300)	total: 9.17s	remaining: 21.3s
400:	learn: 0.3327086	test: 0.3146558	best: 0.3146558 (400)	total: 12s	remaining: 17.9s
500:	learn: 0.3260985	test: 0.3081766	best: 0.3081766 (500)	total: 14.9s	remaining: 14.8s
600:	learn: 0.3203311	test: 0.3053305	best: 0.3052953 (597)	total: 17.7s	remaining: 11.8s
700:	learn: 0.3155536	test: 0.3041648	best: 0.3041648 (700)	total: 20.6s	remaining: 8.79s
800:	learn: 0.3103511	test: 0.3033994	best: 0.3033994 (800)	total: 23.7s	remaining: 5.88s
900:	learn: 0.3069894	test: 0.3023988	best: 0.3023988 (900)	total: 26.9s	remaining: 2.96s
999:	learn: 0.3030282	test: 0.3022146	best: 0.3021754 (958)	total: 30.7s	remaining: 0us

bestTest = 0.3021754447
bestIteration = 958

Shrink model to first 959 iterations.
cv score is 0.9480122324159022
OOF score is 0.9383355169952812