In [1]:
import socket

NB='test'
DESCRIPTION='test notebook'
HOST = socket.gethostname()
HOST

'DESKTOP-7KHT10A'

In [2]:
import warnings
import os
from pathlib import Path

import mlflow
from dataclasses import dataclass
from dataclasses import asdict

import pandas as pd
#import lightgbm as lgb
#import xgboost as xgb
from catboost import CatBoostClassifier, CatBoostRegressor, Pool
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, mean_squared_error, roc_auc_score, average_precision_score, mean_squared_log_error
from sklearn.preprocessing import LabelEncoder

import pickle

#from my_utils import get_notebook_path

def to_pickle(filename, obj):
    with open(filename, mode='wb') as f:
        pickle.dump(obj, f)
        
def unpickle(filename):
    with open(filename, mode='rb') as fo:
        p = pickle.load(fo)
    return p 

warnings.simplefilter('ignore')
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 25)

In [3]:
ROOT_DIR = Path('../')
DATA_DIR = ROOT_DIR / Path('data')

In [4]:
class Config:
    N_LABEL = 24
    N_FOLD = 5
    RANDOM_SATE = 42
    LR = 0.15
    PATIENCE = 30
    EPOCH = 300
    BATCH_SIZE = 6
    SKIP_EVALUATE_NUM = 5

In [5]:
train_df = pd.read_csv(DATA_DIR / Path('titanic_train.csv'))
test_df = pd.read_csv(DATA_DIR / Path('titanic_test.csv'))

display(train_df.shape)
display(train_df.head(5))
display(test_df.shape)
display(test_df.head(5))

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## feature and target

In [6]:
target = 'Survived'
del_columns = ['Survived', 'Name']

features = list(set(train_df.columns) - set(del_columns))
features.sort()

to_pickle(ROOT_DIR / Path(f'output/{HOST}_{NB}_features.pkl'), features)

print(features)

['Age',
 'Embarked',
 'Fare',
 'SibSp',
 'PassengerId',
 'Pclass',
 'Sex',
 'Ticket',
 'Cabin',
 'Parch']

## train lgbm

### metrix

In [7]:
def evaluation(true, pred):
    return roc_auc_score(true, pred)

### encording

In [8]:
# 数値でないカラムをLabelEncording
categoricals = ['Sex', 'Ticket', 'Cabin','Embarked']
features = list(set(features) | set(categoricals))
for c in categoricals:
    le = LabelEncoder()
    le.fit(train_df.append(test_df)[c].astype(str))
    train_df[c] = le.transform(train_df[c].astype(str))
    test_df[c] = le.transform(test_df[c].astype(str))

# Count encoding
count_enc = ['Sex', 'Ticket', 'Cabin', 'Embarked']
count_features = []
for c in count_enc:
    _count = train_df.append(test_df)[c].astype(str).value_counts().to_dict()
    train_df[f'{c}_count'] = train_df[c].astype(str).map(_count)
    test_df[f'{c}_count'] = test_df[c].astype(str).map(_count)
    count_features.append(f'{c}_count')
features = list(set(features) | set(count_features))

### train

In [9]:
params = {
    'learning_rate': 0.01, 
    'loss_function': 'Logloss',
    'verbose':100,
    'iterations':5000,
    'early_stopping_rounds':100
}

# TargetEncording Config
target_enc = ['Sex', 'Ticket', 'Cabin', 'Embarked'] # 集計対象カラム
target_enc_key = ['Survived'] # 集計するキー

oof_preds = np.zeros(len(train_df))
y_pred = np.zeros(len(test_df))
models = []
cv_scores = {}
skf = StratifiedKFold(n_splits=Config.N_FOLD, random_state=Config.RANDOM_SATE, shuffle=True)
for fold, (train_index, test_index) in enumerate(skf.split(train_df[features], train_df[target])):

    print(f'====== fold {fold} ======')

    # TrainとTestに分割
    x_train, x_val = train_df.copy().iloc[train_index][features], train_df.copy().iloc[test_index][features]
    y_train, y_val =  train_df.iloc[train_index][target], train_df.iloc[test_index][target]

    test = test_df[features]

    # Target Encoding
    if len(target_enc) > 0:
        for t in target_enc_key:
            for c in target_enc:
                x_train[f'{c}_target_enc_by_{t}'] = train_df.iloc[train_index][c].map(train_df.iloc[test_index].groupby(c)[t].mean().to_dict())
                x_val[f'{c}_target_enc_by_{t}'] = train_df.iloc[test_index][c].map(train_df.groupby(c)[t].mean().to_dict())
                test[f'{c}_target_enc_by_{t}'] = test_df[c].map(train_df.groupby(c)[t].mean().to_dict())
            
    train_features = x_train.columns.to_list()
    
    # create Dataset
    train_pool = Pool(x_train, y_train, cat_features=categoricals)
    valid_pool = Pool(x_val, y_val, cat_features=categoricals)
    test_pool = Pool(test, cat_features=categoricals) 
    
    # train
    model = CatBoostClassifier(**params)
    model.fit(train_pool, eval_set=valid_pool)
    models.append(model)

        fold_pred = model.predict(valid_pool, prediction_type='Probability')[:, 1]
    
    score = evaluation(y_val, fold_pred)
    cv_scores[f'cv{fold}'] = score

    oof_preds[test_index] = fold_pred

    y_pred += model.predict(test_pool, prediction_type='Probability')[:, 1] / Config.N_FOLD

    print(f'cv score is {score}')

oof_score = evaluation(train_df[target], oof_preds)
print(f'OOF score is {oof_score}')

====== fold 0 ======
0:	learn: 0.6868264	test: 0.6867816	best: 0.6867816 (0)	total: 182ms	remaining: 15m 12s
100:	learn: 0.4384151	test: 0.4407478	best: 0.4407478 (100)	total: 2.84s	remaining: 2m 17s
200:	learn: 0.3856800	test: 0.3787269	best: 0.3787269 (200)	total: 5.41s	remaining: 2m 9s
300:	learn: 0.3618074	test: 0.3562360	best: 0.3562360 (300)	total: 7.8s	remaining: 2m 1s
400:	learn: 0.3460043	test: 0.3446222	best: 0.3445303 (397)	total: 10.1s	remaining: 1m 56s
500:	learn: 0.3330316	test: 0.3368402	best: 0.3368402 (500)	total: 12.5s	remaining: 1m 51s
600:	learn: 0.3221421	test: 0.3332695	best: 0.3332657 (591)	total: 14.7s	remaining: 1m 47s
700:	learn: 0.3124658	test: 0.3310504	best: 0.3310425 (699)	total: 16.9s	remaining: 1m 43s
800:	learn: 0.3033950	test: 0.3290568	best: 0.3290568 (800)	total: 19.4s	remaining: 1m 41s
900:	learn: 0.2926190	test: 0.3263272	best: 0.3263146 (899)	total: 21.7s	remaining: 1m 38s
1000:	learn: 0.2810334	test: 0.3248712	best: 0.3248697 (999)	total: 24.1s	remaining: 1m 36s
1100:	learn: 0.2680901	test: 0.3201252	best: 0.3197351 (1094)	total: 26.4s	remaining: 1m 33s
1200:	learn: 0.2562620	test: 0.3151220	best: 0.3147093 (1181)	total: 28.7s	remaining: 1m 30s
1300:	learn: 0.2460918	test: 0.3126946	best: 0.3126178 (1292)	total: 31.3s	remaining: 1m 28s
1400:	learn: 0.2358152	test: 0.3104266	best: 0.3103260 (1399)	total: 33.7s	remaining: 1m 26s
1500:	learn: 0.2267449	test: 0.3082320	best: 0.3082227 (1495)	total: 36.1s	remaining: 1m 24s
1600:	learn: 0.2177391	test: 0.3079372	best: 0.3075744 (1547)	total: 38.5s	remaining: 1m 21s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.3075743795
bestIteration = 1547

Shrink model to first 1548 iterations.
cv score is 0.9420289855072463
====== fold 1 ======
0:	learn: 0.6863306	test: 0.6869459	best: 0.6869459 (0)	total: 20.9ms	remaining: 1m 44s
100:	learn: 0.4337761	test: 0.4328664	best: 0.4328664 (100)	total: 2.3s	remaining: 1m 51s
200:	learn: 0.3753014	test: 0.3636873	best: 0.3636873 (200)	total: 4.46s	remaining: 1m 46s
300:	learn: 0.3454353	test: 0.3338921	best: 0.3338921 (300)	total: 6.71s	remaining: 1m 44s
400:	learn: 0.3258516	test: 0.3150168	best: 0.3150168 (400)	total: 8.98s	remaining: 1m 42s
500:	learn: 0.3108236	test: 0.3034639	best: 0.3032861 (498)	total: 11.2s	remaining: 1m 40s
600:	learn: 0.2965023	test: 0.2998542	best: 0.2990481 (578)	total: 13.4s	remaining: 1m 37s
700:	learn: 0.2855360	test: 0.2943682	best: 0.2943682 (700)	total: 15.6s	remaining: 1m 35s
800:	learn: 0.2757499	test: 0.2894606	best: 0.2893852 (795)	total: 17.8s	remaining: 1m 33s
900:	learn: 0.2659202	test: 0.2876208	best: 0.2875802 (898)	total: 20.2s	remaining: 1m 31s
1000:	learn: 0.2542841	test: 0.2863146	best: 0.2862172 (978)	total: 22.5s	remaining: 1m 29s
1100:	learn: 0.2411170	test: 0.2846321	best: 0.2843226 (1068)	total: 24.9s	remaining: 1m 28s
1200:	learn: 0.2306365	test: 0.2825845	best: 0.2820018 (1175)	total: 27.3s	remaining: 1m 26s
1300:	learn: 0.2193009	test: 0.2785367	best: 0.2782035 (1293)	total: 29.8s	remaining: 1m 24s
1400:	learn: 0.2078275	test: 0.2748207	best: 0.2746999 (1378)	total: 32.2s	remaining: 1m 22s
1500:	learn: 0.1972794	test: 0.2736043	best: 0.2736043 (1500)	total: 34.5s	remaining: 1m 20s
1600:	learn: 0.1890581	test: 0.2724488	best: 0.2724488 (1600)	total: 36.8s	remaining: 1m 18s
1700:	learn: 0.1810427	test: 0.2709234	best: 0.2707122 (1680)	total: 39.1s	remaining: 1m 15s
1800:	learn: 0.1727630	test: 0.2695219	best: 0.2694002 (1794)	total: 41.4s	remaining: 1m 13s
1900:	learn: 0.1656977	test: 0.2699506	best: 0.2693108 (1803)	total: 43.7s	remaining: 1m 11s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.2693107618
bestIteration = 1803

Shrink model to first 1804 iterations.
cv score is 0.9572192513368984
====== fold 2 ======
0:	learn: 0.6866951	test: 0.6865307	best: 0.6865307 (0)	total: 22.8ms	remaining: 1m 53s
100:	learn: 0.4264643	test: 0.4664601	best: 0.4664601 (100)	total: 2.4s	remaining: 1m 56s
200:	learn: 0.3698323	test: 0.4126541	best: 0.4126541 (200)	total: 4.59s	remaining: 1m 49s
300:	learn: 0.3391380	test: 0.3889821	best: 0.3888741 (299)	total: 6.74s	remaining: 1m 45s
400:	learn: 0.3205124	test: 0.3798311	best: 0.3793807 (398)	total: 8.84s	remaining: 1m 41s
500:	learn: 0.3063575	test: 0.3696599	best: 0.3696599 (500)	total: 10.9s	remaining: 1m 37s
600:	learn: 0.2930524	test: 0.3639337	best: 0.3639293 (597)	total: 13s	remaining: 1m 34s
700:	learn: 0.2805151	test: 0.3606104	best: 0.3601716 (675)	total: 15.1s	remaining: 1m 32s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.360171604
bestIteration = 675

Shrink model to first 676 iterations.
cv score is 0.9268716577540107
====== fold 3 ======
0:	learn: 0.6866497	test: 0.6863809	best: 0.6863809 (0)	total: 33.4ms	remaining: 2m 46s
100:	learn: 0.4405446	test: 0.4395047	best: 0.4395047 (100)	total: 2.31s	remaining: 1m 51s
200:	learn: 0.3838150	test: 0.3772395	best: 0.3772395 (200)	total: 4.5s	remaining: 1m 47s
300:	learn: 0.3550134	test: 0.3559235	best: 0.3559235 (300)	total: 6.66s	remaining: 1m 44s
400:	learn: 0.3308196	test: 0.3414734	best: 0.3414734 (400)	total: 8.77s	remaining: 1m 40s
500:	learn: 0.3147837	test: 0.3363137	best: 0.3357981 (486)	total: 10.8s	remaining: 1m 37s
600:	learn: 0.2999610	test: 0.3339001	best: 0.3337868 (594)	total: 13s	remaining: 1m 35s
700:	learn: 0.2860159	test: 0.3327857	best: 0.3324785 (674)	total: 15s	remaining: 1m 32s
800:	learn: 0.2724943	test: 0.3325242	best: 0.3315531 (734)	total: 17.1s	remaining: 1m 29s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.3315530736
bestIteration = 734

Shrink model to first 735 iterations.
cv score is 0.9298128342245989
====== fold 4 ======
0:	learn: 0.6868839	test: 0.6863264	best: 0.6863264 (0)	total: 18.9ms	remaining: 1m 34s
100:	learn: 0.4399249	test: 0.4136570	best: 0.4136570 (100)	total: 2.16s	remaining: 1m 45s
200:	learn: 0.3839226	test: 0.3469621	best: 0.3469621 (200)	total: 4.37s	remaining: 1m 44s
300:	learn: 0.3571120	test: 0.3231120	best: 0.3231120 (300)	total: 6.44s	remaining: 1m 40s
400:	learn: 0.3394070	test: 0.3129869	best: 0.3129869 (400)	total: 8.57s	remaining: 1m 38s
500:	learn: 0.3244896	test: 0.3068861	best: 0.3068312 (493)	total: 10.6s	remaining: 1m 35s
600:	learn: 0.3123028	test: 0.3018974	best: 0.3018974 (600)	total: 12.7s	remaining: 1m 32s
700:	learn: 0.2977128	test: 0.3015188	best: 0.3015188 (700)	total: 14.8s	remaining: 1m 30s
800:	learn: 0.2859006	test: 0.3017656	best: 0.3015188 (700)	total: 16.9s	remaining: 1m 28s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.3015188295
bestIteration = 700

Shrink model to first 701 iterations.
cv score is 0.9452200505251961
OOF score is 0.9387615973753448